.heroContainer{
    height: 100vh;
    background-color: black;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    
}
.heroContainer::before{
    content:'';
    background: url('../../assets/herobg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    opacity: 0.25;
}

.heroContainer .item{
    position: relative;
    max-width: 450px;
    width: 80%;
    color: white;
    margin:0 10%;
}

@media screen and (min-width: 480px) {
    .heroContainer h1{
        font-size: 3.5rem;
    }
}

