.modal-title{
    color: var(--main-color)
}

.createBlogBtn{
    display: flex;
    margin-left: 0;
    margin-right: 0;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 5px 20px
}