html{
  background-color: white!important;
}


:root{
  --main-color: #EC9535;
  --success-color: #389c5d;
  --danger-color: rgb(209, 52, 52);

  --my-font: 'Montserrat Alternates', sans-serif;
}

h1, h2{
  font-family: var(--my-font);
  font-weight: bold;
  
}

.mainText{
  color: var(--main-color)
}
.mainBtn{
  background-color: var(--main-color);
  color: white;
  border: none;
}
.successBtn{
  background-color: var(--success-color);
  color: white;
  border: none;
}
.dangerBtn{
  background-color: var(--danger-color);
  color: white;
  border: none;
}

.mainBtn:hover, .successBtn:hover, .dangerBtn:hover{
  background-color: var(--main-color);
  opacity: .8;
}